<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Ion Title
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Super App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="onClickRegister()">
      Register to queue
    </ion-button>
  </div>
</ion-content>
